#root {
}
input#verifycode1 {
  -webkit-border-image: url("./assets/mainpage/verifyline.png") 30 !important; /* Safari 3.1-5 */
  -o-border-image: url("./assets/mainpage/verifyline.png") 30 !important; /* Opera 11-12.1 */
  border-image: url("./assets/mainpage/verifyline.png") 30 !important;
  border-style: none none solid !important;
  width: 40px;
  height: 40px;
  /* text-align: center !important; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /* font-size: 42px;
  letter-spacing: 111px; */
}
input#verifycode2 {
  -webkit-border-image: url("./assets/mainpage/verifyline.png") 30 !important;
  border-image: url("./assets/mainpage/verifyline.png") 30 !important;
  border-style: none none solid !important;
  width: 40px;
  height: 40px;
  /* text-align: center !important; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /* font-size: 42px;
  letter-spacing: 111px; */
}
input#verifycode3 {
  -webkit-border-image: url("./assets/mainpage/verifyline.png") 30 !important; /* Safari 3.1-5 */
  -o-border-image: url("./assets/mainpage/verifyline.png") 30 !important; /* Opera 11-12.1 */
  border-image: url("./assets/mainpage/verifyline.png") 30 !important;
  border-style: none none solid !important;
  width: 40px;
  height: 40px;
  /* text-align: center !important; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /* font-size: 42px;
  letter-spacing: 111px; */
}
input#verifycode4 {
  -webkit-border-image: url("./assets/mainpage/verifyline.png") 30 !important; /* Safari 3.1-5 */
  -o-border-image: url("./assets/mainpage/verifyline.png") 30 !important; /* Opera 11-12.1 */
  border-image: url("./assets/mainpage/verifyline.png") 30 !important;
  border-style: none none solid !important;
  width: 40px;
  height: 40px;
  /* text-align: center !important; */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /* font-size: 42px; */
  /* letter-spacing: 111px; */
}
.scrollHere {
  text-align: center;
}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0px 9999px white;
}
.phone4rocket {
  width: 19%;
  height: auto;
  margin-top: -15%;
  left: 2%;
}

/* .footer-header-fb:hover {
  color: #ed5839;
  margin-top: auto;
  margin-right: 15px;
  margin-bottom: auto !important;
  width: 34px;
}
.footer-header-ig:hover {
  color: #ed5839;
  margin-top: auto;
  margin-right: 15px;
  margin-bottom: auto !important;
  width: 34px;
}
.footer-header-twitter:hover {
  color: #ed5839;
  margin-top: auto;
  margin-right: 15px;
  margin-bottom: auto !important;
  width: 34px;
} */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
  position: static;
}
/* .fitbox > div > div {
  background: url("./assets/mainpage/insertphoto.png") no-repeat scroll !important;
  border-width: unset;
  border: none !important;
  border-color: unset;
  border-style: unset;
  border-radius: unset;
  height: 255px;
  pointer-events: auto;
  padding: 0;
  background-position: center;
  width: 220px;
} */
.fitbox > div > div > label {
  color: rgba(51, 51, 51, 0.7) !important;

  font-size: 14px !important;
  padding-top: 25px;
  background-position-x: 50% !important;
  background-position-y: 80px !important;
  width: 220px !important;
  background: url("./assets/mainpage/add.png") no-repeat;
  letter-spacing: 3px !important;
  font-family: "Proxima Nova Semibold" !important;
}

.rc-btn > span {
  opacity: 0;
}
.fitbox {
  height: 20rem;
  /* width: 30rem; */
  align-items: center;
  display: flex;
  justify-content: center;
}
.width80 {
  width: 80% !important;
  display: flex;
  flex-direction: column;
}
.fitimage {
  max-width: 100%;
  max-height: 100%;
}
.nomargin {
  margin: 0 !important;
}
.dropper {
  background-image: url("./assets/mainpage/insertphoto.png") no-repeat scroll;
  border-width: unset;
  border-color: unset;
  border-style: unset;
  border-radius: unset;
  height: 30vh;
  pointer-events: auto;
  background-position: center;
}

.boomer {
  width: 5vw;
}
.biggerboomer {
  width: 8vw;
}
.mediumboomer {
  width: 6vw;
}
.responsiveFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
.responsiveBox {
  width: 43rem;
  height: 8rem;
}
.dropagain {
  border-width: unset;
  border-color: unset;
  border-style: unset;
  border-radius: unset;
  background: unset;
  justify-content: center;
  display: flex;
}
.responsive {
  height: auto;
  width: 100%;
}
.error {
  border: 1px solid red;
}
.photoboomerbubble {
  position: fixed;
  left: 15%;
  pointer-events: none;
  top: -20%;
  width: 42rem;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s,
    -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s,
    -webkit-transform 0.25s;
  -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s,
    -webkit-transform 0.25s;
}
.emailbubble {
  position: fixed;
  left: 15%;
  pointer-events: none;
  top: -20%;
  width: 42rem;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s,
    -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s,
    -webkit-transform 0.25s;
  -o-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s,
    -webkit-transform 0.25s;
}
.left {
  display: flex;
}
.infoicon {
  margin-left: 2%;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.font14 {
  margin: 0 !important;
  font-family: "Proxima Nova Extrabold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}
.fontbox {
  margin: 0 !important;
  margin-top: 4px !important;
  font-family: "Proxima Nova Extrabold";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
}
.phone2 {
  /* max-width: 100%;
  height: auto;
  margin-top: -4%;
  margin-bottom: -8%;
  max-height: 100%; */
  width: 100%;
  height: auto;
}
.phone3 {
  /* max-width: 100%;
  height: auto;
  margin-top: 1%;
  margin-bottom: -6%;
  max-height: 100%; */
  width: 100%;
  height: auto;
}
.phone4 {
  /* max-width: 110%;
  height: auto;
  margin-top: 7%;
  margin-bottom: -7%;
  max-height: 100%; */
  width: 100%;
  height: auto;
}
.phone2col {
  max-width: 100%;
  height: auto;
  margin-top: -4%;
  margin-bottom: -8%;
  max-height: 100%;
  width: 29%;
}
.phone3col {
  max-width: 100%;
  height: auto;
  margin-top: 1%;
  margin-bottom: -12%;
  max-height: 100%;
  width: 27%;
}
.phone4col {
  max-width: 110%;
  height: auto;
  margin-top: 6%;
  margin-bottom: -8%;
  max-height: 100%;
  width: 30%;
}

.hiddenbullet {
  list-style: none;
}
.line {
  width: 45%;
  align-self: flex-end;
}
.footer-header-option {
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: 15px;
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #ee5839;
}

.footer-header-option:hover {
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: 15px;
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #60cfdd;
  cursor: pointer;
}

.footer-header-home {
  color: #1d252c;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: 15px;
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 2px;
}
.footer-header-home:hover {
  color: #1d252c;
  margin-top: auto !important;
  margin-bottom: auto !important;
  margin-right: 15px;
  font-family: "Proxima Nova";
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 2px;
  cursor: unset;
}
.footer-header-img {
  color: #ed5839;
  margin-top: auto;
  margin-right: 15px;
  margin-bottom: auto !important;
  width: 34px;
}
.flex-row-footer {
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
}
.flexrowlinks {
  display: flex;
}
.section-footer {
  padding: 85px 0 40px 0px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.introScreenBox {
  position: absolute;
}
.introScreenBox {
  position: absolute;
}
.introdown {
  padding-top: 5vh;
  padding-bottom: 5vh;
  cursor: pointer;
  width: 5vw;
}
.introdown:hover {
  transform: scale(1.2);
}
/* input#verifycode {
  -webkit-border-image: url("./assets/mainpage/lines.png") 30 !important; /* Safari 3.1-5 */
/* -o-border-image: url("./assets/mainpage/lines.png") 30 !important; /* Opera 11-12.1 */
/* border-image: url("./assets/mainpage/lines.png") 30 !important;
  border-style: none none solid !important;
  /* text-align: center !important; */
/* border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 42px;
  letter-spacing: 111px;
} */
.previewImg {
  height: 150px;
  width: 150px;
}
.semimodaltext {
  margin: 0 !important;
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: left;
}
.semimodaltext {
  margin: 0 !important;
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 3px;
  text-align: center;
}
.leftaction-text-option {
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #ed5839 !important;
  letter-spacing: 2px;
  margin: 0 3px 0 3px;
  cursor: pointer;
  text-align: left;
}
.flexform {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.verifycoderow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  align-self: center;
}
div.email-box > input#email {
  border: 5px transparent;
  padding: 15px;
  font-size: 40px;
  -webkit-border-image: url("./assets/mainpage/emailborder.png") 30; /* Safari 3.1-5 */
  -o-border-image: url("./assets/mainpage/emailborder.png") 30; /* Opera 11-12.1 */
  border-image: url("./assets/mainpage/emailborder.png") 30;
  border-style: none none solid;
  caret-color: #fdc81b;
  text-align: center;
}
/* input#firstname,
input#lastname {
  background: url("./assets/mainpage/personicon.png") no-repeat scroll 3px 3px;
  background-position: 98%;
} */
/* input#email {
  background: url("./assets/mainpage/emailicon.png") no-repeat scroll 7px 7px;
  background-position: 98%;
}
input#phone {
  background: url("./assets/mainpage/phoneicon.png") no-repeat scroll 7px 7px;
  background-position: 97%;
} */

/* .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
   position: static;
} */
.modal-header {
  display: block;
}
.nobordermodal-header {
  display: block;
  border-bottom: unset;
}
.nobordermodal-paddedheader {
  display: block;
  border-bottom: unset;
  padding-top: 10px;
}
.container {
  max-width: 100% !important;
  padding-top: 20px;
}
.applogo {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: auto;
  padding-left: 7vw;
}
.responsivelogo {
  width: 18%;
  height: auto;
}
.section-1 {
  padding-bottom: 14vh;
}
.section-2 {
  background: #64cfdd;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}
.section-3 {
  background: #fdb52b;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section-4 {
  background: #ed5839;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sidemargin {
  margin: 0 10px;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcentercolumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.flexcentercolumntext {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.flexheightcentertext {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  height: 100%;
}
.flexcenterrow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.picturesection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 40vw;
}
.intro-image {
  text-align: center;
  pointer-events: none;
  margin-top: -2%;
  max-width: 100%;
  padding-right: 5%;
  height: auto;
  width: 32%;
  position: absolute;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.intro-content {
  text-align: center;
  pointer-events: none;
  margin-top: 7%;
  max-width: 100%;
  height: auto;
  width: 13%;
  position: absolute;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.introimagediv {
  display: none;
  text-align: center;
  pointer-events: none;
  margin-top: -2%;
  max-width: 100%;
  height: auto;
  margin-right: 5%;
  width: 32%;
}

.hoverairtext {
  position: absolute;
  /* display: none; */
  margin-top: 9%;
  pointer-events: none;
  width: 13%;
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.hoverhardwaretext {
  position: absolute;
  /* display: none; */
  margin-top: 9%;
  pointer-events: none;
  width: 13%;
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.hoverbaristatext {
  position: absolute;
  /* display: none; */
  margin-top: 9%;
  pointer-events: none;
  width: 13%;
  pointer-events: none;
  -webkit-animation: fadeOut ease-in-out 1;
  -moz-animation: fadeOut ease-in-out 1;
  animation: fadeOut ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.hoverdeliverytext {
  position: absolute;
  width: 13%;
  /* display: none; */
  margin-top: 9%;
  pointer-events: none;
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.hovercashiertext {
  position: absolute;
  width: 13%;
  /* display: none; */
  margin-top: 9%;
  pointer-events: none;
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.hovercheftext {
  position: absolute;
  width: 13%;
  /* display: none; */
  margin-top: 9%;
  pointer-events: none;
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* .airBox:hover,
.wrenchBox:hover,
.latteBox:hover,
.deliveryBox:hover,
.menuBox:hover,
.cashierBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
} */
.airBox .hoverImg {
  position: absolute;
  left: 3em;
  bottom: 0;
  display: none;
}
.airBox:hover {
  transform: scale(1.1);
}
.menuBox:hover {
  transform: scale(1.1);
}
.wrenchBox:hover {
  transform: scale(1.1);
}
.latteBox:hover {
  transform: scale(1.1);
}
.cashierBox:hover {
  transform: scale(1.1);
}
.deliveryBox:hover {
  transform: scale(1.1);
}
.airBox:hover .hoverImg {
  position: absolute;
  display: block;
  -webkit-animation: fadeIn ease-out 1;
  -moz-animation: fadeIn ease-out 1;
  animation: fadeIn ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.airBox ~ .hoverairtext {
  position: absolute;
}

.airBox:hover ~ .intro-content {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.menuBox:hover ~ .intro-content {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.wrenchBox:hover ~ .intro-content {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.latteBox:hover ~ .intro-content {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.deliveryBox:hover ~ .intro-content {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.cashierBox:hover ~ .intro-content {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}

/* .airBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.menuBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.wrenchBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.latteBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.deliveryBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
}
.cashierBox:hover ~ .intro-image {
  -webkit-animation: fadeOut ease-out 1;
  -moz-animation: fadeOut ease-out 1;
  animation: fadeOut ease-out 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  display: none;
} */
.airBox ~ .hoverairtext {
  position: absolute;
}
.airBox:hover ~ .hoverairtext {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.wrenchBox .hoverImg {
  position: absolute;
  left: -3em;
  top: 20%;
  display: none;
  z-index: -1;
}
.wrenchBox:hover .hoverImg {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.wrenchBox ~ .hoverhardwaretext {
  position: absolute;
}
.wrenchBox:hover ~ .hoverhardwaretext {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.latteBox .hoverImg {
  position: absolute;
  left: 3em;
  bottom: 85%;
  z-index: -1;
  display: none;
}
.latteBox:hover .hoverImg {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.latteBox ~ .hoverbaristatext {
  position: absolute;
}
.latteBox:hover ~ .hoverbaristatext {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.deliveryBox .hoverImg {
  position: absolute;
  right: 1em;
  bottom: 87%;
  display: none;
  z-index: -1;
}
.deliveryBox:hover .hoverImg {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.deliveryBox ~ .hoverdeliverytext {
  position: absolute;
}
.deliveryBox:hover ~ .hoverdeliverytext {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.menuBox .hoverImg {
  position: absolute;
  bottom: 40%;
  right: -15%;
  display: none;
  z-index: -1;
}
.menuBox:hover .hoverImg {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}
.menuBox:hover ~ .hovercheftext {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}
.menuBox ~ .hovercheftext {
  position: absolute;
}

.airBox {
  position: absolute;
  display: block;
  width: 20%;
  margin-left: -16%;
  margin-top: 23%;
  transition: all 0.2s ease-in-out;
}
.wrenchBox {
  position: absolute;
  width: 20%;
  height: auto;
  margin-left: -15%;
  margin-top: -3%;
  transition: all 0.2s ease-in-out;
}
.latteBox {
  position: absolute;
  margin-left: -30%;
  width: 17%;
  height: auto;
  margin-top: 10%;
  transition: all 0.2s ease-in-out;
}
.deliveryBox {
  position: absolute;
  margin-left: 30%;
  width: 20%;
  height: auto;
  margin-top: 20%;
  transition: all 0.2s ease-in-out;
}
.menuBox {
  position: absolute;
  width: 20%;
  height: auto;
  margin-left: 28%;
  margin-top: -2%;
  transition: all 0.2s ease-in-out;
}
.cashierBox {
  position: absolute;
  display: block;
  width: 20%;
  height: auto;
  margin-top: 11%;
  margin-left: 15%;
  transition: all 0.2s ease-in-out;
}
.cashierBox .hoverImg {
  position: absolute;
  left: 6vw;
  width: 25%;
  height: auto;
  bottom: -1vh;
  display: none;
}
.cashierBox:hover .hoverImg {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in-out 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

.cashierBox:hover ~ .hovercashiertext {
  display: block;
  -webkit-animation: fadeIn ease-in-out 1;
  -moz-animation: fadeIn ease-in-out 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  animation-duration: 0.2s;
}

.introtext {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 25px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 3px;
  width: 49vw;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 3rem;
  width: 42rem;
  height: 34rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal-content-thanks {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #64cfdd;
  padding: 1rem 1.5rem;
  width: 50rem;
  border-radius: 0.5rem;
  height: 45rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.thanksboomer {
  width: 28vw;
  position: fixed;
  left: 0;
  top: 50%;
  height: auto;
  display: block;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 2.8s;
  -moz-animation-duration: 2.8s;
  animation-duration: 2.8s;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.flexcenterrow > button {
  border: none;
  background-color: transparent;
}
.rc-preview > img {
  width: 200px;
  height: 200px;
}
.show-modal {
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.verificationmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-verificationmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.uploadmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-uploadmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.uploadphotomodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-uploadphotomodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.outofMarketModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-outofMarketModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.privacyModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-privacyModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.productTermsModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-productTermsModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.contactModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-contactModal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.employmentmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-employmentmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.employmentsocialmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-employmentsocialmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.termsmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-termsmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.termsText {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 2px;
}
.lefttext {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
}
.orline {
  width: 45%;
  height: 2px;
}

.userExistsModal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-userexistsmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.thanksmodal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.show-thanksmodal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.luckycat {
  position: fixed;
  left: 36%;
  top: 17%;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.exit {
  width: 19px;
  position: absolute;
  right: 6px;
  cursor: pointer;
  top: 6px;
}
.header-text {
  font-family: "Proxima Nova";
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 2px;
  margin: 0;
}
.action-text {
  font-family: "Proxima Nova";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  margin: 0;
}
.header-text-option {
  font-family: "Proxima Nova";
  font-size: 17px;
  line-height: 21px;
  font-weight: 600;
  color: #ed5839;
  letter-spacing: 2px;
  margin: 0 4px;
  cursor: pointer;
}
.action-text-option {
  font-family: "Proxima Nova Semibold";
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  color: #ed5839;
  letter-spacing: 2px;
  margin: 0 3px 0 3px;
  cursor: pointer;
}
.modalheadertext {
  font-family: "Proxima Nova Semibold";
  font-size: 30px;
  line-height: 37px;
  text-align: left;
  letter-spacing: 5px;
  color: #ed5839;
}
.modalheadertextbold {
  font-family: "Proxima Nova Extrabold";
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  letter-spacing: 5px;
  color: #ed5839;
}

.email-button {
  background-color: #fdb52b !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) !important;
  font-family: "Proxima Nova" !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 33px !important;
  font-size: 25px !important;
  text-align: center !important;
  color: #ffffff !important;
  letter-spacing: 4px !important;
  text-transform: uppercase !important;
  border-radius: 15px !important;
}
.signup-button {
  background-color: #fdb52b !important;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) !important;
  font-family: "Proxima Nova" !important;
  font-style: normal !important;
  font-weight: bold !important;
  line-height: 24px !important;
  font-size: 15px !important;
  text-align: center !important;
  color: #ffffff !important;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  border-radius: 7.22 !important;
  width: 100%;
}
.header-title {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
}
.header-title-b {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  margin: 0;
}
.header-number-a {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px;
  color: #ffffff;
}
.header-number-b {
  font-family: "Proxima Nova";
  margin: 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ed5837;
}
.body-right {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  font-size: 25px;
  text-align: right;
  letter-spacing: 2px;
  width: 60%;
  margin: 0;
  align-self: flex-end;
}

.flexleftcenter {
  height: 250px;
  overflow-y: auto;
}
.body-right-b {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  font-size: 25px;
  text-align: right;
  letter-spacing: 2px;
  color: #ffffff;
  margin-left: 5%;
}
.body-left {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  line-height: 46px;
  font-size: 25px;
  text-align: left;
  letter-spacing: 2px;
  margin: 0;
  width: 31vw;
}
.section-text-a-1 {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-top: 5%;
  padding-bottom: 5%;
}
.section-text-a-2 {
  text-align: right;
  margin-top: 5%;
}
.section-text-b {
  text-align: left;
  margin-top: 6%;
  margin-bottom: 6% !important;
}
.email-box {
  width: 50%;
  margin-bottom: 20px;
}

/* ----------- iPhone X ----------- */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* .dropper {
    background: url("./assets/mainpage/insertphoto@2x.png") no-repeat scroll;
    border-width: unset;
    border-color: unset;
    background-size: contain;
    border-style: unset;
    border-radius: unset;
    height: 30vh;
    pointer-events: auto;
    background-position: center;
  } */
  input#verifycode1 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode2 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode3 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode4 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px; */
    /* letter-spacing: 111px; */
  }
  .fitbox > div > div > label {
    color: rgba(51, 51, 51, 0.7) !important;

    font-size: 14px !important;
    padding-top: 25px;
    background-position-x: 50% !important;
    background-position-y: 70px !important;
    background-size: 50px 50px !important;
    width: 220px !important;
    background: url("./assets/mainpage/add@2x.png") no-repeat;
    letter-spacing: 3px !important;
    font-family: "Proxima Nova Semibold" !important;
  }

  input#verifycode1 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode2 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode3 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode4 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px; */
    /* letter-spacing: 111px; */
  }
  .footer-header-fb {
    color: #ed5839;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto !important;
    width: 34px;
  }
  .footer-header-ig {
    color: #ed5839;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto !important;
    width: 34px;
  }
  .footer-header-twitter {
    color: #ed5839;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto !important;
    width: 34px;
  }
  /* .footer-header-fb:hover {
    color: #ed5839;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto !important;
    width: 34px;
    background: url("./assets/mainpage/facebookhover@2x.png") no-repeat scroll;
  }
  .footer-header-ig:hover {
    color: #ed5839;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto !important;
    width: 34px;
  }
  .footer-header-twitter:hover {
    color: #ed5839;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto !important;
    width: 34px;
  } */
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 300px) and (max-device-width: 620px) {
  .header-text-option {
    font-size: 15px;
  }
  input#verifycode1 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode2 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode3 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px;
    letter-spacing: 111px; */
  }
  input#verifycode4 {
    -webkit-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/verifyline@2x.png") 30 !important;
    border-style: none none solid !important;
    width: 40px;
    height: 40px;
    /* text-align: center !important; */
    border-top: 0;
    border-left: 0;
    border-right: 0;
    /* font-size: 42px; */
    /* letter-spacing: 111px; */
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 3rem;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .applogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: unset;
    padding-left: unset;
  }

  .email-button {
    background-color: #fdb52b !important;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) !important;
    font-family: "Proxima Nova" !important;
    font-style: normal !important;
    font-weight: bold !important;
    line-height: 26px !important;
    font-size: 12px !important;
    text-align: center !important;
    color: #ffffff !important;
    letter-spacing: 3px !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    margin: unset !important;
  }
  div.email-box > input#email {
    border: 5px transparent;
    padding: 15px;
    font-size: 40px;
    -webkit-border-image: url("./assets/mainpage/emailborder.png") 30; /* Safari 3.1-5 */
    -o-border-image: url("./assets/mainpage/emailborder.png") 30; /* Opera 11-12.1 */
    border-image: url("./assets/mainpage/emailborder.png") 30;
    border-style: none none solid;
    caret-color: #fdc81b;
    text-align: center;
    margin-bottom: 20px;
  }
  .responsivelogo {
    width: 50%;
    height: auto;
  }
  .section-1 {
    padding-bottom: 4vh !important;
  }
  .section-2 {
    display: flex;
    justify-content: flex-end;
  }
  .section-3 {
    justify-content: unset;
  }
  .section-4 {
    justify-content: flex-end;
  }
  .phone3col {
    text-align: left;
    width: 50%;
    margin-right: 12%;
    margin-bottom: -25% !important;
  }
  .introtext {
    font-family: "Proxima Nova Semibold";
    font-size: 15px;
    line-height: 30px !important;
    text-align: center;
    letter-spacing: 1px;
    width: 80vw;
    margin-bottom: 0;
    margin-top: 20px !important;
  }
  .flex-row-footer {
    flex-direction: column;
    margin-right: unset;
    padding-top: 2vh;
    margin-left: 5%;
  }
  .footer-header-home {
    font-size: 10px !important;
  }
  .footer-header-option {
    font-size: 10px !important;
  }
  .section-footer {
    padding: 0 !important;
  }
  .body-right-b {
    font-size: 12px;
    line-height: 17px;
  }
  .body-left {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    line-height: 19px !important;
    font-size: 12px;
    width: unset;
    text-align: left;
    letter-spacing: 1px;
    margin-top: 4%;
  }
  .header-number-a {
    font-size: 15px;
  }
  .header-number-b {
    font-size: 15px;
  }
  .header-title-b {
    font-size: 15px;
    width: 60%;
  }
  .header-title {
    font-size: 15px;
  }
  .body-right {
    font-size: 12px;
    width: unset;
    line-height: 17px;
    margin-top: 4%;
  }
  .phone2col {
    text-align: right;
    width: 50%;
    margin-right: 2%;
    margin-bottom: -25% !important;
  }
  .phone4col {
    -ms-flex-pack: end;
    justify-content: space-between;
    margin-right: 2%;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
  .flexrowlinks {
    display: flex;
    justify-content: center;
  }
  .phone4 {
    /* max-width: 110%;
    height: auto;
    margin-top: 7%;
    margin-bottom: -7%;
    max-height: 100%; */
    width: 46%;
    height: auto;
  }
  .dropagain,
  .dropper {
    height: 36vh !important;
  }
  .modaltextcontainer {
    height: 80%;
    overflow-y: auto;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

@import url("https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&subset=latin-ext");
@font-face {
  font-family: "Proxima Nova Semibold";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova Semibold"), local("Proxima Nova"),
    url("./assets/fonts/PNSemibold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova Extrabold"), local("Proxima Nova Extrabold"),
    url("./assets/fonts/PNExtrabold.otf") format("opentype");
}
@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  src: local("Proxima Nova"), local("Proxima Nova Regular"),
    url("./assets/fonts/PNRegular.otf") format("opentype");
}
